<app-page-scroller>
  <div class="content">
    <!--<div class="row">
      <div class="col-lg-4">
        <h1>General</h1>
        <p>Anything that'n directly related to me?</p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfe13SpJKX73C7yDpb58G5Gqnt9eqvmbRUsTcus6ITPhAYedg/viewform?usp=sf_link"
          target="_blank"><button mat-raised-button color="primary">Click me!</button></a>
      </div>
      <div class="col-lg-4">
        <h1>Submission</h1>
        <p>Do you want your song uploaded to MSTKE Music too?</p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdj47OBe7jxUNChFV5O7q2kmNjOsHD4eZAjSoa9yipd342KtQ/viewform?usp=sf_link"
          target="_blank"><button mat-raised-button color="primary">Click me instead!</button></a>
      </div>
      <div class="col-lg-4">
        <h1>Takedown</h1>
        <p>Don't want something on MSTKE Music to be there?</p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSd2D5zssCNM_gJJu6m8Qyda93_5XKOwuURa3_D_IJaw32okmQ/viewform?usp=sf_link"
          target="_blank"><button mat-raised-button color="primary">Please click me!</button></a>
      </div>
    </div>-->
    <div [@formTransition]="submitted">
      <app-general-form *ngIf="!submitted" (submitted)="submitted = true"></app-general-form>
      <app-form-success *ngIf="submitted"></app-form-success>
    </div>
    <button (click)="submitted = true">play submit animation</button>
  </div>
</app-page-scroller>