<app-page-scroller>
    <div class="content">
        <h1>My Apple Juice Box.</h1>
        <p>Running MacOS High Sierra by the way.<p>
            </p>
            <div class="row">
                <div class="col-lg-6">
                    <mat-card>
                        <h3>Components</h3>
                        <p>
                        <h5>CPU</h5>
                            <p>AMD FX-8350
                            <br>
                            <p>
                            <h5>Graphics card</h5>
                            <p>ASUS ROG Strix GeForce GTX1060-6G
                            <br>
                            <p>
                            <h5>RAM</h5>
                            <p>Ballistix Sport, 16 GB
                            <br>Samsung *, 4 GB
                            <br>
                            <p>
                            <h5>Motherboard</h5>
                            <p>Gigabyte 990-X-Gaming SLI
                            <br>
                            <p>
                            <h5>Power supply</h5>
                            <p>MS-Tech MS-N550-VAL Rev.B; 500 W
                            <br>
                            <p>
                            <h5>Drives</h5>
                            <p>Samsung 860 EVO, 500 GB
                            <br>Samsung HD503HI, 500 GB
                            <br>Western Digital WD5000AAKX, 500 GB
                            <br>Western Digital Elements, 750 GB
                            <br>
                            <p>
                            <h5>Case</h5>
                            <p>Sharkoon TG5, Red
                            <br>
                            <p>
                            <h5>CPU cooler</h5>
                            <p>be quiet! DarkRock 3
                            <br>
                            <p>
                            <h5>Network card</h5>
                            <p>TP-Link TL-WDN4800 N900
                        </p>
                    </mat-card>
                </div>
                <div class="col-lg-6">
                    <mat-card>
                        <h4>Peripherals</h4>
                        <p>
                            <h5>Mouse</h5>
                                <p>Logitech G403
                                <br>
                                <p>
                                <h5>Keyboard</h5>
                                <p>Logitech G413 Carbon
                                <br>
                                <p>
                                <h5>Monitors</h5>
                                <p>HP 24ea
                                <br>Philips 243V5
                                <br>
                                <p>
                                <h5>Speakers</h5>
                                <p>Logitech Z313
                                <br>
                                <p>
                                <h5>Headphones</h5>
                                <p>Sennheiser RS 118
                                <p>
                                <h5>Graphic Tablet</h5>
                                <p>Wacom Intuos Comic S
                                <p>
                                <h5>Mouse Pad</h5>
                                <p>Sharkoon 1337 XXL
                                <br>
                                <p>
                            </p>
                    </mat-card>
                </div>
            </div>
    </div>
</app-page-scroller>