<div class="box-container">
  <div class="icon"
  [ngClass]="{ 'self': type=='self', 'game': type=='game', 'code': type=='code', 'music': type=='music', 'photo': type=='photo', 'design': type=='design', 'twitter': type=='twitter', 'youtube': type=='youtube', 'instagram': type=='instagram', 'lastfm': type=='lastfm' }" >
  <div class="icon-img"></div>
</div>
  <div class="border">
    <div class="title">{{title}}</div>
    <div class="text">
      <ng-content></ng-content>
    </div>
  </div>
</div>