<div class="forms-content">
  <div class="forms">
    <div class='formCard'>
      <form class='formContent' [formGroup]="generalForm">
        <h3>Send me an Email.</h3>
        <p>
          <mat-form-field class="small-width">
            <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher" required>
            <mat-error *ngIf="generalForm.controls['email'].hasError('email') && !generalForm.controls['email'].hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="generalForm.controls['email'].hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="small-width">
            <input matInput formControlName="subject" placeholder="Subject" required>
          </mat-form-field>
          <br>
          <mat-form-field class="half-width">
            <textarea matInput formControlName="message" placeholder="Message" required></textarea>
          </mat-form-field>
          <br>
          <button mat-stroked-button color="primary" (click)="onSubmit()">Submit</button>
          <p>
          <mat-progress-bar class="full-width" mode="indeterminate" *ngIf="submitting"></mat-progress-bar>
          <mat-error *ngIf="submissionError">
            Error submitting the form
          </mat-error>
      </form>
    </div>
  </div>
</div>