<div class="forms-content">
  <div class="forms">
    <div class='formCard'>
      <form class='formContent' [formGroup]="takedownForm">
        <h3>Remove something from MSTKE Music.</h3>
        <p>
          <mat-form-field>
            <input matInput formControlName="name" placeholder="Name" required>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher" required>
            <mat-error *ngIf="takedownForm.controls['email'].hasError('email') && !generalForm.controls['email'].hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="takedownForm.controls['email'].hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput formControlName="url" placeholder="Video URL" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput formControlName="url" placeholder="Media to be removed" required>
          </mat-form-field>
          <br>
          <mat-form-field class="half-width">
            <textarea matInput formControlName="comment" placeholder="Comment" required></textarea>
          </mat-form-field>
          <br>
          <button mat-stroked-button color="primary" (click)="onSubmit()">Submit</button>
          <p>
      </form>
    </div>
  </div>
</div>