<app-page-scroller>
  <div class="content">
    <div class="title">
      <h1>
        Black Midi Renderer
      </h1>
      <h3 class="subheading">
        The most optimised midi rendering experience!
      </h3>
    </div>
    <div>
      <button class="download-button">
        Download x64
      </button>
      <button class="download-button">
        Download x32
      </button>
    </div>
    <img id="streaks-left" src="assets/star-streaks.svg" />
    <img id="streaks-right"  src="assets/star-streaks.svg" />
    <div>
      <img src="/assets/screenshot.png" class="screenshot" />
    </div>
  </div>
</app-page-scroller>
