<app-page-scroller>
  <div class="content">
    <div class="forms">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" (click)="router.navigate(['/contact/general'])" [ngClass]=" { 'active': url.startsWith('/contact/general') } ">General</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="router.navigate(['/contact/submission'])" [ngClass]=" { 'active': url.startsWith('/contact/submission') } ">Submission</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="router.navigate(['/contact/takedown'])" [ngClass]=" { 'active': url.startsWith('/contact/takedown') } ">Takedown</a>
        </li>
      </ul>
    </div>
  </div>
  <h1>More to come.</h1>
  <p>Yup, that's another placeholder.</p>
</app-page-scroller>