<app-page-scroller>
    <div class="content">
        <h1>Some information about myself.</h1>
        <p>Here are some things that make me up.<p>
            </p>
            <div class="row">
                <div class="col-lg-6">
                    <mat-card>
                        <h4>General</h4>
                        <p>My name is Nicklas. I have been on this planet for 14 years so far and I live in Premnitz,
                            Germany. In short I like Japan, means the culture, food and - of course - Anime and Manga,
                            graphic design, photography and dance music. I also really like to mod stuff, like my
                            Nintendo Switch recently. Not enough? Then go on reading!
                        </p>
                    </mat-card>
                </div>
                <div class="col-lg-6">
                    <mat-card>
                        <h4>Gaming</h4>
                        <p>Back in the days, video games took most of my freetime. Now I am not really that much into
                            it anymore, but I still play occasionally. I prefer consoles for most games, like my
                            Nintendo Switch and my PS4, but when it comes to precice movement, like in shooters for
                            instance, PC is still my first choice. But apart from that, my PC is not often used for
                            gaming, even though my components would allow it.
                            <br>
                            <p>
                                <a routerLink="/setup"><button mat-stroked-button color="primary">View my PC's
                                        components</button></a>
                            </p>
                    </mat-card>
                </div>
                <div class="col-lg-6">
                    <mat-card>
                        <h4>Music</h4>
                        <p>Sadly, I have no clue how to make music, even though I would really love to create my own
                            stuff. I am more the consumer of music - Music, which is abuse of the ear channels for some
                            folks. Most of my favorite songs are from the Monstercat label, but not all. In fact, I
                            really have a varying taste. Just have a look at my Last.fm profile, to see, what I listen
                            to.
                            <br>
                            <p>
                                <a href="https://www.last.fm/user/nicklasscharp" target="_blank"><button
                                        mat-stroked-button color="primary">See what I'm listening to on Last.fm</button></a>
                            </p>
                    </mat-card>
                </div>
                <div class="col-lg-6">
                    <mat-card>
                        <h4>Programming</h4>
                        <p>After over 6 months passed since I
                            programmed, some people in my class were wondering what happened to me. Well, now I am
                            here, writing code for this website together with a mate I met on a Discord server. It is
                            also a win-win for both of us! I learn new stuff, he practices his skills. All voluntarily,
                            and I am really happy to have found someone which has the same interests as I have and he
                            is really happy to have found someone to work with. You can take a look at the repository
                            on github, if you want to see how this website works.
                            <br>
                            <p>
                                <a href="https://github.com/nicklas-mstke/nicklas-mstke.github.io" target="_blank"><button
                                        mat-stroked-button color="primary">Visit the GitHub repository</button></a>
                            </p>
                    </mat-card>
                </div>
                <div class="col-lg-6">
                    <mat-card>
                        <h4>Photography</h4>
                        <p>I love my camera and I love taking photos with it even more. Preferably landscapes. What
                            comes in front of the lens varies at last. Best is to look at my Instagram page linked in
                            the Social Networks page. I also edit my photos using Photoshop, which can lead to really
                            amazing results. But I am not good at video recording. Not at all. Besides, my camera only
                            records in 720p30f, which is not good enough for my uses.
                            <br>
                            <p>
                                <a href="https://www.instagram.com/_mstke" target="_blank"><button mat-stroked-button
                                        color="primary">My Instagram profile</button></a>
                            </p>
                    </mat-card>
                </div>
                <div class="col-lg-6">
                    <mat-card>
                        <h4>Design</h4>
                        <p>I started creating my own little creations with my name when I was just 11 years old. This
                            developed to me now coming up with ideas for new logos or styles occasionally. A design
                            survives 2 months at best, because to this date I am still looking for a stunning design.
                            Some questions I have to ask myself then are whether I should use shadows or not, if the
                            color palette should be huge or small or if I make elements sharp or rounded. Sometimes I
                            even experiment on paper with my favorite pen: the pencil.
                        </p>
                    </mat-card>
                </div>
            </div>
    </div>
</app-page-scroller>